
@{
    ViewBag.Title = "AdminLogin";
}
<h2>AdminLogin</h2>

@using (Html.BeginForm("AdminLogin", "Login", FormMethod.Post, new { id = "form1" }))
{
    <table>
        <tr>
            <td>
                UserName:
            </td>
            <td>
                @Html.TextBox("userName")
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                @Html.Password("Password")
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" value="login" name="login" class="btn btn-primary">Submit</button>
            </td>
        </tr>
    </table>

 }
