body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#search {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

    #search input {
        display: inline;
    }

#detail img {
    width: 200px;
}

.price{
    font-size:larger;
}

.admin{
    padding-top:10px;
    margin:10px;
    font-size:large;
    background-color:red !important;
}

.products {
    display: flex;
    flex-wrap: wrap;
    
}

.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 21%;
    display: flex; /* so child elements can use flexbox stuff too! */
    flex-direction: column; /*This solves everything*/
}

.product-image img {
    max-width: 100%;

}

.product-info {
    margin-top: auto;
    text-align:center;
}


@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
    }
}

