body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#search {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

    #search input {
        display: inline;
    }

#detail img {
    /*width: 200px;*/
}

#detail .thumbnail-img {
    width: 100px;
    height: 100px;
}

#detail .big-img {
    width: 300px;
    height: 300px;
}

#detail {
    background: tomato;
    color: white;
}

.hide {
    visibility: hidden;
}

.price {
    font-size: larger;
}

.admin {
    padding-top: 10px;
    margin: 10px;
    font-size: large;
    background-color: red !important;
}

/*.products {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 21%;
    display: flex; 
    flex-direction: row;
}*/


.products {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.product-card {
    background: tomato;
    padding: 15px;
    width: 200px;
    height: 370px;
    margin-top: 30px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    text-align: center;
    /*display: block;
    margin: auto;*/
}

.product-info {
    margin-top: auto;
    text-align: left;
    
}


@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
    }
}


img.zoom {
    width: 150px;
    height: 150px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}

